<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <!-- userDTO -->
        <typeAlias type="com.tjint.springboot.app.api.admin.login.service.NewUserDTO" alias="newUserDto"/>
        <typeAlias type="com.tjint.springboot.app.admin.jwt.SecurityUser" alias="securityUser"/>
        <!-- apiVo -->
        <typeAlias type="com.tjint.springboot.app.api.admin.brand.service.NewBrandDTO" alias="newBrandDto"/>
        <typeAlias type="com.tjint.springboot.common.imageFile.NewImageDTO" alias="newImageDto"/>
        <typeAlias type="com.tjint.springboot.common.imageFile.AttachFileDTO" alias="attachFileDto"/>
        <typeAlias type="com.tjint.springboot.common.urlLink.service.NewUrlLinkDTO" alias="newUrlLinkDto"/>
        <typeAlias type="com.tjint.springboot.app.api.admin.news.service.NewNewsDTO" alias="newNewsDto"/>
        <typeAlias type="com.tjint.springboot.app.api.admin.recruit.service.NewRecruitDTO" alias="newRecruitDto"/>
        <typeAlias type="com.tjint.springboot.app.api.admin.brand.service.NewCodeDTO" alias="newCodeDto"/>
    </typeAliases>

</configuration>