<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<section th:fragment="contentFragment">
    <div id="container" class="container main">
        <div class="mainVisualBox_2017">
            <div class="cycle-slideshow" data-cycle-pause-on-hover="true" data-cycle-slides="> a"
                 data-cycle-fx="fadeout"
                 data-cycle-speed="400">
                <a href="/business/fashion.do">
                    <img src="/images/app/new_2017/main/00main_01LQ.png" alt="LEADING LIFESTYLE BRAND COMPANY"/>
                </a>
                <!--
                <a href="/business/fashion.do#lc_view">
                    <img src="/images/app/new_2017/main/00main_02LC.png" alt="ALL MEN`S LIFE STYLE, LOUIS CLUB"/>
                </a>
                -->
                <a href="/business/culture.do">
                    <img src="/images/app/new_2017/main/00main_03PF.png" alt="CONTEMPORARY ART CENTER"/>
                </a>
                <a href="/business/fashion.do#tm_view">
                    <img src="/images/app/new_2017/main/00main_04TM.png" alt="LIFE STYLE TRAVEL MATE"/>
                </a>
                <div class="cycle-pager"></div>
            </div>
        </div>

        <div class="mainBanBox">
            <div class="bannerBox first">
                <a href="/about/mission.do">
                    <img src="/images/app/new_2017/main/00main_01v&m.png" alt="VISION & MISSION"/>
                </a>
            </div>
            <div class="bannerBox mid">
                <a href="/news/newsList.do">
                    <img src="/images/app/new_2017/main/00main_02recentnews.png" alt="RECENT NEWS"/>
                </a>
            </div>
            <div class="bannerBox last">
                <a href="/contact/map.do">
                    <img src="/images/app/new_2017/main/00main_03conactus.png" alt="CONTACT US"/>
                </a>
            </div>
        </div>
    </div>
</section>
</html>