<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
    <div id="header">
        <!-- header_inner -->
        <div class="header_inner">
            <h1><a href="/main/mainPage"><img src="/images/app/new_2017/common/img_logo_top.png" alt="TAEJIN international"></a></h1>
            <div id="localMenuBox" class="localMenuBox"><!-- localMenuBox -->
                <h2 class="blind">메인메뉴</h2>
                <ul class="localMenu">
                    <li class="gnbm01">
                        <a style="cursor: pointer;">ABOUT TJ</a>
                        <div class="localMenuSub gnbs01">
                            <h3 class="blind">ABOUT 메뉴 목록</h3>
                            <ul>
                                <li><a href="/about/mission">미션 &amp; 비전</a></li>
                                <li><a href="/about/ceo">CEO 인사말</a></li>
                                <li><a href="/about/corpHistory.do">TJ 히스토리</a></li>
                                <li><a href="/about/ci.do">CI</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="gnbm02">
                        <a style="cursor: pointer;">BUSINESS PORTFOLIO</a>
                        <div class="localMenuSub gnbs02">
                            <h3 class="blind">BUSINESS PORTFOLIO 메뉴 목록</h3>
                            <ul>
                                <!--
                                 2019.03.21 기존 하드코딩 되어있던 페이지를 불러오는 URL
                                 <li><a href="/business/fashion.do">패션 &amp; 리테일</a></li>
                                 <li><a href="/business/culture.do">아트 &amp; 컬쳐</a></li>
                                 <li><a href="/business/invest.do">투자</a></li>
                                 -->
                                <li><a href="/business/brandPage.do?menuCd=1">패션 &amp; 리테일</a></li>
                                <li><a href="/business/brandPage.do?menuCd=2">아트 &amp; 컬쳐</a></li>
                                <li><a href="/business/brandPage.do?menuCd=3">투자</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="gnbm03">
                        <a style="cursor: pointer;">NEWS</a>
                        <div class="localMenuSub gnbs03">
                            <h3 class="blind">NEWS 메뉴 목록</h3>
                            <ul>
                                <li><a href="/news/newsList.do">최근소식</a></li>
                                <li><a href="/news/society.do">사회공헌활동</a></li>
                                <li><a href="/news/culture.do">문화후원활동</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="gnbm04">
                        <a style="cursor: pointer;">PARTNERSHIP &amp; CONTACT</a>
                        <div class="localMenuSub gnbs04">
                            <h3 class="blind">PARTNERSHIP &amp; CONTACT 메뉴 목록</h3>
                            <ul>
                                <li><a href="/contact/collaborate.do">협업 및 제휴</a></li>
                                <li><a href="/recruit/recruitList.do">인재채용</a></li>
                                <li><a href="/contact/ethicsCommittee.do">윤리경영</a></li>
                                <li><a href="/contact/map.do">오시는 길</a></li>
                                <!-- <li><a href="/recruit/hrContact.do">HR CONTACT</a></li> -->
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dimmed"></div>
        </div>
        <!-- //header_inner -->
    </div>
</header>
</html>