<!DOCTYPE html>
<html lang="en">
<section>
    <div id="container_admin" class="container_admin">
        <div id="content_admin" class="content_admin">
            <div class="content_header type01">
                <h1></h1>
                <p class="tit_txt"></p>
                <div class="page_location">
                    <strong class="blind"></strong>
                    <span class="home"><a href="#wrap">HOME</a></span> <span><a href="#wrap">BUSINESS </a></span> <span></span>
                </div><!-- //page_location -->
            </div><!-- //content_header -->
            <section>
                <div class="searchBox type02">
                    <form name="frm" id="frm" method="get" action="/business/brandList.do">
                        <h2 class="blind"></h2>
                        <div class="inner">
                            <div class="selectBox">
                                <select name="categoryCd" id="searchType" title=">
                                    <option value=""></option>
                                <c:forEach var="code" items="${codeList}">
                                    <option  <c:if test="${searchVO.categoryCd == code.codeId }">selected="selected"</c:if> value="${code.codeId}"><c:out value="${code.codeName}"/></option>
                                </c:forEach>
                                </select>
                            </div>
                            <input type="text" name="searchKeyword" id="searchInput" title=" placeholder=" maxlength="255" onkeypress="press(event);" value="${searchVO.searchKeyword}">
                            <button type="submit" class="icoBtn_search"><span class="blind"></span></button>
                        </div>
                    </form>
                </div>
                <div class="list_box type01">
                    <table class="bbs_list">
                        <caption>| </caption>
                        <colgroup>
                            <col style="width:8%;">
                            <col style="width:15%;">
                            <col style="width:auto;">
                            <col span="2" style="width:10%;">
                            <col style="width:8%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <c:forEach var="result" items="${brandList}">
                            <tr>
                                <td><c:out value="${result.brandSeq}"/></td>
                                <td class="txt_left"><c:out value="${result.categoryName }"/></td>
                                <td class="txt_left"><p class="ellipsis"><a href="/business/brandUpdatePage.do?brandSeq=${result.brandSeq }"><c:out value="${result.brandName }"/></a></p></td>
                                <td><c:out value="${result.creatorNm }"/></td>
                                <td><c:out value="${result.createTime }"/></td>
                                <td><c:out value="${result.visible }"/></td>
                            </tr>
                        </c:forEach>
                        </tbody>
                    </table>
                </div><!-- //list_box -->
                <c:if test="${paginationInfo.totalRecordCount == 0}">
                    <c:choose>
                        <c:when test="${searchVO.searchKeyword == '' && searchVO.categoryCd== '' }">
                            <div class="data_none"><!-- -->
                                <p></p>
                            </div>
                        </c:when>
                        <c:otherwise>
                            <div class="search_none"><!-- -->
                                <p></p>
                            </div>
                        </c:otherwise>
                    </c:choose>
                </c:if>
                <div class="btn_area type01">
                    <a href="/business/brandRegistPage.do" class="htcbtnMd"><span></span></a>
                </div>
                <div class="pagenation">
                    <ui:pagination paginationInfo="${paginationInfo}" type="image" jsFunction="fn_select_linkPage" />
                </div><!-- //pagenation -->
            </section>
        </div><!-- //content -->
    </div>
</section>

</html>